@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Nunito&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

/* Comportamiento scroll en el html */
html {
  scroll-behavior: smooth;
}

/* font-family: 'Noto Sans', sans-serif;
font-family: 'Nunito', sans-serif; */
footer, .cabecera-contendor {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contenedor-cards, .carrusel-contenedor-principal, .seccion-1, .container-principal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.texto-lugar-descripcion, .card-testmonio, .opinion-container h2 {
  text-align: center;
  border-radius: 20px;
}

/* INICIO ESTILOS HOJA INDEX.HTML */
/* GRID PROPIEDADES INDEX */
.grilla-contenedor {
  display: grid;
  grid-template-areas: "cabecera cabecera cabecera cabecera" "principal principal article article" "article-2 article-2 article-2 article-2" "pie pie pie pie";
  grid-template-columns: repeat(auto-fit, minmax(min(150px, 100%), 1fr));
  grid-template-rows: repeat(auto-fit, minmax(min(100px, 100%), 1fr));
  gap: 30px;
  background-color: #DFF3E3;
}

.cabecera-contendor {
  grid-area: cabecera;
}

.container-principal {
  grid-area: principal;
}

.seccion-1 {
  grid-area: article;
}

.seccion-2 {
  grid-area: article-2;
}

footer {
  grid-area: pie;
}

/* Estilos flex del header */
.cabecera-contendor {
  background: linear-gradient(90deg, rgb(240, 247, 244) 18%, rgb(56, 181, 62) 100%);
  height: fit-content;
  position: sticky;
  top: 0;
  padding: 10px;
  z-index: 10;
}

/* Estilos logo header */
.logo-main {
  display: flex;
  margin: 15px;
  width: 150px;
}

/* Estilos barra navegación | header */
.barra-navegacion ul li a {
  font-family: "Noto Sans", sans-serif;
  color: #191516;
  background-color: #DFF3E3;
  font-size: medium;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-weight: bolder;
}

/* Animaciones de la NAV BAR */
.barra-navegacion ul li a:hover {
  cursor: pointer;
  border-bottom: 1px solid #444444;
  background-color: #191516;
  color: #F0F7F4;
  border-radius: 10px;
}

.barra-navegacion ul li a:active {
  background-color: #707070;
  color: #F0F7F4;
}

/* Estilos container principal */
.container-principal {
  width: 100%;
  padding: 10px;
}

.logo-grande-farmacia {
  display: flex;
  margin: 15px;
  padding: 10px;
  width: 380px;
}

.container-principal h1 {
  display: flex;
  justify-content: center;
  background-color: #38B53E;
  font-family: "Noto Sans", sans-serif;
  color: #F0F7F4;
  margin-top: 0;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.seccion-1 {
  padding: 10px;
  margin: 15px;
  height: fit-content;
  background-color: #38B53E;
  font-family: "Nunito", sans-serif;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-out;
}

.seccion-1:hover {
  cursor: help;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.seccion-1 h2 {
  color: #DFF3E3;
  margin: 5px;
  padding: 10px;
  font-size: 35px;
}

.seccion-1 h2 span {
  color: #BA151B;
}

.seccion-1 p {
  text-align: justify;
  font-size: 20px;
  color: #DFF3E3;
  background-color: #38B53E;
}

.seccion-1 p strong {
  color: #BA151B;
}

/* ESTILOS TARJETAS */
.tarjetas {
  box-shadow: 0 4px 10px 10px rgba(0, 0, 0, 0.3);
  margin: 10px;
  transition: all 0.5s ease;
}

.tarjetas:hover {
  cursor: pointer;
  box-shadow: 0 4px 10px 15px rgba(12, 177, 1, 0.3);
  border-image: space;
}

.card-body {
  background-color: #444444;
}

.card-body h5, .card-body p {
  color: #F0F7F4;
  background-color: #38B53E;
  text-align: center;
  font-size: 18px;
}

/* Estilos footer o Pie de página */
footer {
  background-color: #444444;
  width: 100%;
  padding: 20px;
}

footer p {
  color: #F0F7F4;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

/* INCIO ESTILOS HOJA TESTIMONIOS */
.contenedor-testimonios {
  background-color: #707070;
}

/* Estilos contenido articulo */
.opinion-container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin: 30px;
  padding: 10px;
  height: 100%;
}

.opinion-container p {
  font-family: "Nunito", sans-serif;
  color: #F0F7F4;
  text-align: center;
  background-color: #444444;
}

.opinion-container h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  color: #F0F7F4;
  font-family: "Noto Sans", sans-serif;
}

.card-testmonio {
  background-color: #444444;
  margin: 15px;
  padding: 10px;
  color: #DFF3E3;
  transition: all 0.4s ease-out;
}

.card-testmonio:hover {
  cursor: text;
  box-shadow: 1px 1px 10px 8px #38B53E;
}

/* Transition CARDS TESTIMONIOS */
.slide-in-bck-center {
  -webkit-animation: slide-in-bck-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bck-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
   * ----------------------------------------
   * animation slide-in-bck-center
   * ----------------------------------------
   */
@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
/* Estilos video IFRAME | MIXIN*/
.video-estilo {
  margin: 30px;
  width: 95%;
  border-radius: 20px;
  box-shadow: 3px 3px 4px 4px rgba(0, 1, 0, 0.2);
}

/* INICIO ESTILOS HOJA PRODUCTOS */
.carrusel-contenedor {
  border-radius: 20px;
}

.carrusel-contenedor-principal {
  flex-wrap: wrap;
  padding: 10px;
  background-color: #707070;
  border-bottom: 4px solid #444444;
}

.carrusel-contenedor-principal h2 {
  color: #F0F7F4;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
}

.slides-personales {
  width: 65%;
  height: fit-content;
  color: #F0F7F4;
  margin: 15px;
  padding: 10px;
  border-radius: 20px;
}

.slides-personales h5 {
  width: 100%;
  font-size: 25px;
  border-radius: 20px;
  padding: 3px;
  background-color: #38B53E;
}

.slides-personales p {
  font-size: 20px;
  background-color: #444444;
  border-radius: 20px;
}

.detalles-fotos {
  width: 100%;
  margin: 10px;
  padding: 5px;
  border-radius: 20px;
}

.contenedor-productos-varios {
  background: linear-gradient(90deg, rgb(240, 247, 244) 18%, rgb(56, 181, 62) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Grilla subproductos */
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 40px 40px;
  grid-auto-flow: row;
  grid-template-areas: "Producto-1  Producto-2 " "Producto-3  Producto-4";
}

.Producto-1 {
  grid-area: Producto-1;
}

.Producto-2 {
  grid-area: Producto-2;
}

.Producto-3 {
  grid-area: Producto-3;
}

.Producto-4 {
  grid-area: Producto-4;
}

/* Estilos de la sección subproductos */
.Producto-1,
.Producto-2,
.Producto-3,
.Producto-4 {
  background: linear-gradient(90deg, rgb(240, 247, 244) 18%, rgb(56, 181, 62) 100%);
  border-radius: 20px;
  box-shadow: 0 4px 10px 10px rgba(0, 0, 0, 0.3);
  color: #191516;
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-family: "Nunito", sans-serif;
}

.container {
  margin: 15px;
  padding: 10px;
}

.imagen-subproductos {
  padding: 20px;
  width: 100%;
  height: fit-content;
}

/* HOJA ESTILOS CONTACTO */
/* Estilos para contacto - formulario */
.contenedorcontacto {
  background: linear-gradient(0deg, rgb(255, 255, 255) 18%, rgb(85, 87, 85) 100%);
  background-image: url(../../images/back-farmacia-sini.jpg);
  backdrop-filter: blur(5px);
}

.contenedor-formulario {
  font-family: "Noto Sans", sans-serif;
  width: 40%;
  height: fit-content;
  margin: 40px auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #F0F7F4;
  background-color: #444444;
}

.contenedor-formulario h2 {
  text-align: center;
  margin: 20px;
  padding: 5px;
}

.formulario-contacto {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px;
}

label {
  text-align: center;
  font-weight: bolder;
  margin: 15px;
}

/* Inputs */
input, textarea {
  width: 100%;
  display: block;
  padding: 10px 10px;
  margin: 15px 20px;
  border-radius: 20px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

input:hover {
  cursor: pointer;
  border: 2px solid #38B53E;
}

input:focus {
  cursor: text;
  box-shadow: 0 0 10px rgb(56, 181, 62);
}

textarea:hover {
  cursor: pointer;
  border: 2px solid #38B53E;
}

textarea:focus {
  cursor: text;
  box-shadow: 0 0 10px rgb(56, 181, 62);
}

/* Botones de formulario */
.btnformulario {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  padding: 10px;
  background-color: #38B53E;
  color: #F0F7F4;
  border: none;
  font-size: large;
  width: 40%;
  transition: all 0.5s ease-in-out;
}

.btnformulario:hover {
  cursor: pointer;
  background-color: #444444;
}

/* Hojas estilos PERSONAL */
.personalcontainer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  background-color: #DFF3E3;
  color: #F0F7F4;
  height: 100%;
}

.slide-in-bck-center {
  -webkit-animation: slide-in-bck-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bck-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
   * ----------------------------------------
   * animation slide-in-bck-center
   * ----------------------------------------
   */
@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
.personalcontainer h2 {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  font-size: 35px;
}

.personalcontainer p {
  font-family: "Nunito", sans-serif;
  text-align: left;
  font-size: 20px;
  background-color: #707070;
}

.personalcontainer p span {
  color: #38B53E;
  font-weight: bold;
}

.personaldetalle {
  margin: 15px;
  padding: 10px;
  background-color: #707070;
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(85, 87, 85);
  width: 50%;
}

.img-personal {
  width: 100%;
  border-radius: 20px;
}

/* Estilos para el acordeon */
.estilo-acordeon {
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in;
}

.estilo-acordeon:hover {
  cursor: pointer;
  transform: scale(1.15);
}

/* Inicio estilos hoja SUCURSALES */
.ubicacion-contenido {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  background-color: #707070;
  text-align: center;
  font-family: "Nunito", sans-serif;
  color: #F0F7F4;
  height: 80vh;
}

.contenedor-cards {
  background-color: #444444;
  margin: 15px;
  padding: 10px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.contenedor-cards h3 {
  text-transform: uppercase;
}

.contenedor-cards:hover {
  cursor: pointer;
  box-shadow: 0 0 15px rgb(56, 181, 62);
  transform: scale(1.03);
}

.texto-lugar-descripcion {
  margin: 15px;
  padding: 10px;
  width: 80%;
  border: 3px solid #191516;
}

.conten-lugar {
  margin: 15px;
  padding: 10px;
  background-color: #191516;
  border-radius: 20px;
  box-shadow: 0 0 15px rgb(56, 181, 62);
}

.conten-lugar iframe {
  padding: 10px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.conten-lugar iframe:hover {
  cursor: pointer;
  transform: scale(1.02);
}

/* Media query general grid LAYOUT MOBILE*/
@media only screen and (max-width: 460px) {
  .grilla-contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(150px, 100%), 1fr));
    grid-template-areas: "cabecera" "principal" "article" "article-2" "pie";
    gap: 15px;
  }
  footer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
  }
  .seccion-2 {
    margin: 15px;
  }
  .container-principal h1,
  .seccion-1 p {
    text-align: center;
  }
}
/* Media query general grid LAYOUT TABLET*/
@media only screen and (max-width: 768px) {
  .grilla-contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(150px, 100%), 1fr));
    grid-template-areas: "cabecera cabecera" "principal principal" "article article" "article-2 article-2" "pie pie";
    gap: 15px;
  }
  footer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
  }
  .seccion-2 {
    margin: 15px;
  }
  .logo-main {
    width: 160px;
  }
}
@media only screen and (max-width: 1024px) {
  .grilla-contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(150px, 100%), 1fr));
    grid-template-areas: "cabecera cabecera cabecera" "principal principal principal" "article article article" "article-2 article-2 article-2" "pie pie pie";
    gap: 15px;
  }
  footer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
  }
  .seccion-2 {
    margin: 15px;
  }
  .logo-main {
    width: 180px;
  }
}
/* FIN ESTILOS HOJA INDEX.HTML */
/* Media query para hoja testimonios FORMATO MOBILE */
@media only screen and (max-width: 460px) {
  .contenedor-testimonios {
    display: grid;
    grid-template-areas: "cabecera" "articulo1" "video" "video" "pie";
    grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
    gap: 30px;
  }
  .opinion-container h2 {
    font-size: 18px;
    background-color: #191516;
  }
  footer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
  }
  .video-estilo {
    height: 350px;
  }
  .opinion-container {
    width: fit-content;
    margin: 10px;
  }
}
/* Media query para hoja testimonios FORMATO TABLET */
@media only screen and (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
  }
  .video-estilo {
    width: 100%;
    height: 350px;
    margin: 20px;
  }
  .opinion-container {
    width: 100%;
  }
}
/* Media query para hoja testimonios FORMATO DESKTOP */
@media only screen and (max-width: 1024px) {
  .contenedor-testimonios {
    display: grid;
    grid-template-areas: "cabecera cabecera" "articulo1 articulo1" "video video" "video video" "pie pie";
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    gap: 20px;
  }
  footer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
  }
  .video-estilo {
    width: 98%;
    height: 350px;
    margin: 20px;
  }
  .opinion-container {
    width: fit-content;
  }
}
/* Media query para MOBILE PRODUCTOS */
@media only screen and (max-width: 460px) {
  .carrusel-contenedor-principal {
    width: 100%;
    height: 100%;
  }
  .carrusel-contenedor-principal h2 {
    margin: 10px;
    width: 90%;
    font-size: 35px;
    text-align: center;
  }
  .slides-personales {
    width: 100%;
    padding: 5px;
    margin: 0;
  }
  .slides-personales h5 {
    display: none;
  }
  .slides-personales p {
    font-size: 12px;
  }
  .detalles-fotos {
    width: 50%;
    margin: 0;
    padding: 5px;
    border-radius: 20px;
  }
  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
  }
  .container {
    gap: 2px 2px;
  }
}
/* Media query para TABLET PRODUCTOS*/
@media only screen and (max-width: 768px) {
  .carrusel-contenedor-principal {
    width: 100%;
    height: 100%;
  }
  .carrusel-contenedor-principal h2 {
    font-size: x-large;
  }
  .slides-personales {
    width: 95%;
  }
  .slides-personales h5 {
    display: none;
  }
  .slides-personales h5 p {
    font-size: 20px;
  }
  .container {
    margin: 0;
  }
}
@media only screen and (max-width: 1024px) {
  .carrusel-contenedor-principal {
    width: 100%;
    height: 100%;
  }
  .carrusel-contenedor-principal h2 {
    margin: 10px;
    width: 100%;
    font-size: 10px;
    text-align: center;
  }
  .slides-personales {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .slides-personales h5 {
    font-size: 2px;
    padding: 0;
  }
  .slides-personales h5 p {
    font-size: 1px;
  }
  .detalles-fotos {
    width: 40%;
    margin: 0;
    padding: 5px;
    border-radius: 20px;
  }
  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
  }
}
/* Final hoja estilos productos */
/* Media query para hoja CONTACTO FORMATO MOBILE */
@media only screen and (max-width: 460px) {
  .contenedor-formulario {
    width: 100%;
    margin: 15px auto;
    height: fit-content;
    background-color: #191516;
  }
  .contenedor-formulario h2 {
    font-size: 20px;
  }
  .btnformulario {
    margin: 20px;
    padding: 10px;
    width: 100%;
  }
}
/* Media query para hoja CONTACTO FORMATO TABLET */
@media only screen and (max-width: 768px) {
  .contenedor-formulario {
    width: 50%;
  }
}
/* Media query para hoja PERSONAL FORMATO MOBILE */
@media only screen and (max-width: 460px) {
  .personalcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .personaldetalle {
    width: 100%;
    margin: 20px;
  }
  .img-personal {
    width: 100%;
    border-radius: 20px;
    height: fit-content;
  }
  .estilo-acordeon {
    width: 100%;
    margin: 20px;
    height: fit-content;
  }
}
/* Media query para hoja PERSONAL FORMATO TABLET */
@media only screen and (max-width: 768px) {
  .personalcontainer {
    flex-direction: column;
    height: 100%;
    width: fit-content;
  }
  .personalcontainer p, .personalcontainer span {
    text-align: center;
    margin: 10px;
  }
  .personaldetalle {
    width: 100%;
    margin: 20px;
  }
  .img-personal {
    width: 100%;
    border-radius: 20px;
  }
  .estilo-acordeon {
    width: 80%;
    margin: 20px;
  }
}
/* Media query para hoja SUCURSALES FORMATO MOBILE */
@media only screen and (max-width: 460px) {
  .ubicacion-contenido {
    width: 100%;
    height: fit-content;
    flex-direction: column;
  }
  .contenedor-cards {
    width: 95%;
    margin: 30px;
  }
  .conten-lugar {
    width: 95%;
  }
  .conten-lugar iframe {
    width: 100%;
  }
}
/* Media query para hoja SUCURSALES FORMATO TABLET */
@media only screen and (max-width: 768px) {
  .ubicacion-contenido {
    width: 100%;
    height: fit-content;
    flex-direction: column;
  }
  .contenedor-cards {
    width: 95%;
    margin: 20px;
  }
  .conten-lugar {
    width: 95%;
  }
  .conten-lugar iframe {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
