/* Media query general grid LAYOUT MOBILE*/
@include media-up(sm) {
    .grilla-contenedor {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(150px, 100%), 1fr));
        grid-template-areas:
            'cabecera'
            'principal'
            'article'
            'article-2'
            'pie';
        gap: 15px;
    }

    footer {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        text-align: center;
    }

    .seccion-2 {
        margin: 15px;
    }

    .container-principal h1,
    .seccion-1 p {
        text-align: center;
    }
}

/* Media query general grid LAYOUT TABLET*/
@include media-up (md) {
    .grilla-contenedor {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(150px, 100%), 1fr));
        grid-template-areas:
            'cabecera cabecera'
            'principal principal'
            'article article'
            'article-2 article-2'
            'pie pie';
        gap: 15px;
    }

    footer {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        text-align: center;
    }

    .seccion-2 {
        margin: 15px;
    }

    .logo-main {
        width: 160px;
    }
}

@include media-up (lg) {

    .grilla-contenedor {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(150px, 100%), 1fr));
        grid-template-areas:
            'cabecera cabecera cabecera'
            'principal principal principal'
            'article article article'
            'article-2 article-2 article-2'
            'pie pie pie';
        gap: 15px;
    }

    footer {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        text-align: center;
    }

    .seccion-2 {
        margin: 15px;
    }

    .logo-main {
        width: 180px;
    }

}

/* FIN ESTILOS HOJA INDEX.HTML */




/* Media query para hoja testimonios FORMATO MOBILE */

@include media-up (sm) {
    .contenedor-testimonios {
        display: grid;
        grid-template-areas:
            'cabecera'
            'articulo1'
            'video'
            'video'
            'pie';
        grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
        gap: 30px;
    }

    .opinion-container h2 {
        font-size: 18px;
        background-color: nth($colores , 4 );
    }

    footer {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        text-align: center;
    }

    .video-estilo {
        height: 350px;
    }

    .opinion-container {
        width: fit-content;
        margin: 10px;
    }
}

/* Media query para hoja testimonios FORMATO TABLET */
@include media-up (md) {
    footer {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        text-align: center;
    }

    .video-estilo {
        width: 100%;
        height: 350px;
        margin: 20px;
    }

    .opinion-container {
        width: 100%;
    }
}

/* Media query para hoja testimonios FORMATO DESKTOP */
@include media-up (lg) {
    .contenedor-testimonios {
        display: grid;
        grid-template-areas:
            'cabecera cabecera'
            'articulo1 articulo1'
            'video video'
            'video video'
            'pie pie';
        grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
        gap: 20px;
    }

    footer {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        text-align: center;
    }

    .video-estilo {
        width: 98%;
        height: 350px;
        margin: 20px;
    }

    .opinion-container {
        width: fit-content;
    }
}



/* Media query para MOBILE PRODUCTOS */
@include media-up (sm) {
    .carrusel-contenedor-principal {
        width: 100%;
        height: 100%;
    }

    .carrusel-contenedor-principal h2 {
        margin: 10px;
        width: 90%;
        font-size: 35px;
        text-align: center;
    }

    .slides-personales {
        width: 100%;
        padding: 5px;
        margin: 0;
    }

    .slides-personales h5 {
        display: none;
    }

    .slides-personales p {
        font-size: 12px;
    }


    .detalles-fotos {
        width: 50%;
        margin: 0;
        padding: 5px;
        border-radius: 20px;
    }

    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        flex-grow: 1;
    }

    .container {
        gap: 2px 2px;
    }
}

/* Media query para TABLET PRODUCTOS*/
@include media-up (md) {
    .carrusel-contenedor-principal {
        width: 100%;
        height: 100%;
    }

    .carrusel-contenedor-principal h2 {
        font-size: x-large;
    }

    .slides-personales {
        width: 95%;
    }

    .slides-personales h5 {
        display: none;
    }

    .slides-personales h5 p {
        font-size: 20px;
    }

    .container {
        margin: 0;
    }
}

@include media-up (lg) {
    .carrusel-contenedor-principal {
        width: 100%;
        height: 100%;
    }

    .carrusel-contenedor-principal h2 {
        margin: 10px;
        width: 100%;
        font-size: 10px;
        text-align: center;
    }

    .slides-personales {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .slides-personales h5 {
        font-size: 2px;
        padding: 0;
    }

    .slides-personales h5 p {
        font-size: 1px;
    }

    .detalles-fotos {
        width: 40%;
        margin: 0;
        padding: 5px;
        border-radius: 20px;
    }

    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        flex-grow: 1;
    }
}


/* Final hoja estilos productos */



/* Media query para hoja CONTACTO FORMATO MOBILE */

@include media-up (sm) {

    .contenedor-formulario {
        width: max-content;
        margin: 15px auto;
        height: fit-content;
    }

    .contenedor-formulario h2 {
        font-size: 20px;
    }



    .btnformulario {
        margin: 20px;
        padding: 10px;
        width: 100%;
    }
}

/* Media query para hoja CONTACTO FORMATO TABLET */
@include media-up (md) {
    .contenedor-formulario {
        width: 50%;
    }
}


/* Media query para hoja PERSONAL FORMATO MOBILE */

@include media-up (sm) {
    .personalcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .personaldetalle {
        width: 100%;
        margin: 20px;
    }


    .img-personal {
        width: 100%;
        border-radius: 20px;
        height: fit-content;
    }

    .estilo-acordeon {
        width: 100%;
        margin: 20px;
        height: fit-content;
    }
}

/* Media query para hoja PERSONAL FORMATO TABLET */
@include media-up (md) {
    .personalcontainer {
        flex-direction: column;
        height: 100%;
        width: fit-content;
    }

    .personalcontainer p, .personalcontainer span {
        text-align: center;
        margin: 10px;
    }

    .personaldetalle {
        width: 100%;
        margin: 20px;
    }

    .img-personal {
        width: 100%;
        border-radius: 20px;
    }

    .estilo-acordeon {
        width: 80%;
        margin: 20px;
    }
}



/* Media query para hoja SUCURSALES FORMATO MOBILE */

@include media-up (sm) {

    .ubicacion-contenido {
        width: 100%;
        height: fit-content;
        flex-direction: column;
    }

    .contenedor-cards {
        width: 95%;
        margin: 30px;
    }

    .conten-lugar {
        width: 95%;
    }

    .conten-lugar iframe {
        width: 100%;
    }
}

/* Media query para hoja SUCURSALES FORMATO TABLET */
@include media-up (md) {

    .ubicacion-contenido {
        width: 100%;
        height: fit-content;
        flex-direction: column;
    }

    .contenedor-cards {
        width: 95%;
        margin: 20px;
    }

    .conten-lugar {
        width: 95%;
    }

    .conten-lugar iframe {
        width: 100%;
    }

}