// Colores únicos

$background-header: linear-gradient(90deg, rgba(240, 247, 244, 1) 18%, rgba(56, 181, 62, 1) 100%);
// Box sombras

$sombra-oscura: 0 0 10px rgba(0, 0, 0, 0.2);
$sombra-negra: 0 4px 10px 10px rgba(0, 0, 0, 0.3);
$sombra-verde-osc: 0 4px 10px 15px rgba(12, 177, 1, 0.3);
$sombra-verde-clara: 0 0 15px rgba(56, 181, 62, 1);

// Fuentes letras

$fuente-ppal: 'Noto Sans', sans-serif;
$fuente-sec: 'Nunito', sans-serif;
$fuente-ter: "Poppins", sans-serif;

// Estilos radios

$border-radio-ppal: 20px;